
@model IEnumerable<Applicant>

@{
    var jobReference = ViewData["JobReference"]?.ToString();
}

<div class='col-12 col-md-3 col-xl-2 bd-sidebar bg-dark pt-3 pb-3'>
    <ul class="list-group">
        @foreach (var applicant in Model)
        {
            <li class="list-group-item list-group-item-short-list" active-url="Details/@(applicant.ApplicantId)" comparer-mode="endswith">
                <a class="text-white" asp-controller="Applicants" asp-action="Details" asp-route-id="@applicant.ApplicantId" asp-route-jobReference="@jobReference" title="@applicant.FulllName">
                    <i class="fa fa-user pr-2"></i>@applicant.FulllName
                </a>
            </li>
        }
    </ul>
</div>
